.navigation { text-align: center; }
.navigation ul {
  margin:auto;
}

ol, ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 20px;
    padding-right: 0px;
    padding-left: 0px;
    vertical-align: middle;
}

body {
  color: white;
  margin:10;
  padding:10
}


a:hover, a:focus, a:active {
    color: #999;
    text-decoration: none;
}

ul a:hover {
  color: #ffffff;
  text-decoration: none;
}

/*nav font*/
a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    transition: color 0.1s, background-color 0.1s;
}

/*line below nav*/
ul {
  border-bottom: .5px solid;
  border-color: rgba(255, 255, 255, 0.1);
  padding-bottom: 0px;
  padding-left: 0px;
}

/*logo*/
ul img {
  padding-right: 0px;
  -webkit-filter: invert(1);
   filter: invert(1);
}



/*---underline---*/
ul a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 22px;
    letter-spacing: 1px;
    font-size: 22px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #ffffff;
}

a.item::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

a:active::before {
    background-color: #000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
/*------*/


/*---cover + text---*/

.cover-text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #383838;


}

h1 {
  font-size: 2px;
  color: black;
  font-weight: 100;
  margin: 0;
}

.manga-cover-div {
  width: 18em;
}

.manga-cover {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 0.0px solid #551980;
  border-radius: 0px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  float: left;

  max-width:100%;
  max-height:100%;
}

.title-logo {
  height: auto;
  max-width:100%;
  max-height:4.5em;
  margin-top: .5em;
  margin-bottom: .5em;
}


@media only screen and (max-width: 870px) {

  .navigation {
    padding-left: 1.5em;
    text-align: left;
  }

  .manga-cover-div {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .manga-cover {
    float: center;
  }

  .tabs {
    padding: 0px;
  }

}
/*------*/
.icon {
  display: none;
}


@media screen and (max-width: 870px) {

  .navigation {
    padding: 0;
    width: 100vw;

    text-align: center;
    display:block;
    margin-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navigation li {
    padding: 0em;
    padding-top: 1em;
  }


  ul a {
      position: relative;
      display: block;
      padding: 0px 0;
      margin: 0px 15px;
      letter-spacing: 1px;
      font-size: 15px;
      line-height: 35px;
      font-weight: 900;
      text-transform: uppercase;
      transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
      color: #ffffff;
  }

  .nav-logo {
    text-align: center;
    display:block;
    margin-left: 0px;
  }

  .social {
    display: none;
  }

  .tabs {
    margin-bottom: 30px;
    min-height: 10px;
  }

}




/*---table---*/
div.chlist {
  margin: auto;
  max-width: 40em;
}

table th {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: #383838;
}

td, td a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #383838;
    border-color: #383838;
}

td.date {
  text-align: right;
}
/*---------*/

.social {
  margin-left: 13px;
  margin-top: -4px;
}

.fa {
  color: gray;
}

.fa-bars {
  color: white;
}

.btn {
  background-color: white;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
  margin: 9px;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,.1);
}

.btn:hover {
  background-color: #d9d9d9;
}

@media screen and (min-width: 870px) {
  .footer {
    display: none;
  }
}
.footer {
  width: 100vw;
  text-align: center;
  padding-bottom: 30px;
}
